<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="home.title">Welcome , Java Hipster!</h1>
            <p class="lead" data-translate="home.subtitle">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p data-translate="home.question">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://www.facebook.com/" target="_blank" data-translate="home.link.facebook">JHipster homepage</a></li>
                <li><a href="http://www.twitter.com" target="_blank" data-translate="home.link.twitter">JHipster on Stack Overflow</a></li>
            </ul>

            <p>
             <span data-translate="home.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="http://www.apple.com/" target="_blank" data-translate="home.apple">Github</a>!
            </p>
        </div>
    </div>
</div>
